@import './src/assets/styles/colors';
$transition-duration: 0.2s;
$child-padding: 0.8rem 0;
:host {
  display: block;
  position: relative;
  & > .input-container {
    width: 100%;
    display: flex;
    position: relative;
    padding: 0 0.8rem;
    align-items: center;
    height: 4.8rem;
    border-radius: 0.8rem;
    border: 2px lightgrey solid;
    cursor: text;
    transition: border-color $transition-duration ease;
  }
  &.ng-invalid.ng-touched {
    .input-container {
      border-color: red;
      label {
        color: red;
      }
      .separator-bar {
        background-color: red;
      }
    }
  }
}
* {
  color: $black;
}
.error-container {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  color: red;
  font-size: 1.28rem;
}
input {
  border: none;
  background-color: $white;
  min-width: 0;
  font-size: 1.6rem;
  flex: 1;
}
.separator-bar {
  position: relative;
  height: 4.8rem;
  width: 0.24rem;
  margin: 0 0.8rem;
  opacity: 0;
  background-color: $primary;
  transition: opacity $transition-duration ease;
}
.separator-bar.focused {
  opacity: 1;
}
label {
  position: relative;
  left: 50%;
  transform: translateX(-50%) scale(1.2);
  color: grey;
  font-size: 1.6rem;
  transition: all $transition-duration ease;
}
label.focused {
  left: 0;
  transform: none;
  color: $primary;
}
.input-container.focused {
  border-color: $primary;
}
