<div
  [ngClass]="{ focused: this.isFocused || input.value }"
  (click)="input.focus()"
  class="input-container"
>
  <label
    [ngClass]="{
      focused: this.isFocused || input.value
    }"
    for="{{ name }}"
    >{{ label }}</label
  >
  <div
    class="separator-bar"
    [ngClass]="{
      focused: this.isFocused || input.value
    }"
    aria-hidden="true"
  ></div>
  <input
    [type]="type"
    [id]="name"
    (input)="change(input.value)"
    (focusin)="onFocus(true)"
    (focusout)="onFocus(false)"
    #input
  />
</div>
<div class="error-container"><ng-content></ng-content></div>
