@import '../../../assets/styles/sizes.scss';
@import '../../../assets/styles/colors.scss';
:host {
  display: flex;
  justify-content: center;
  align-content: center;
}
section {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: $main-height;
  padding: 2rem;
}
h1 {
  margin-top: 0;
  text-align: center;
}
button {
  align-self: center;
}
