<section>
  <h1>Create your account</h1>
  <form
    #signUpForm="ngForm"
    id="sign-up-form"
    (ngSubmit)="onSubmit(signUpForm)"
  >
    <div class="form--input-container">
      <app-form-input
        ngModel
        required
        #firstName="ngModel"
        name="firstName"
        label="First Name"
      >
        <strong *ngIf="firstName.touched && firstName.invalid"
          >Please enter your first name.</strong
        >
      </app-form-input>
      <app-form-input
        ngModel
        required
        #lastName="ngModel"
        name="lastName"
        label="Last Name"
      >
        <strong *ngIf="lastName.touched && lastName.invalid"
          >Please enter your last name.</strong
        >
      </app-form-input>
    </div>
    <app-form-input
      ngModel
      email
      required
      #email="ngModel"
      name="email"
      label="Email"
      type="email"
      [appUsedStringValidator]="usedEmails"
    >
      <strong *ngIf="email.touched && email.invalid">
        <ng-template [ngIf]="email?.errors?.usedString" [ngIfElse]="elseError"
          >Email already exists!</ng-template
        >
        <ng-template #elseError>Please enter a valid email</ng-template></strong
      >
    </app-form-input>
    <div class="form--input-container">
      <app-form-input
        ngModel
        required
        #password="ngModel"
        name="password"
        label="Password"
        type="password"
        [minlength]="8"
      >
        <strong *ngIf="password.touched && password.invalid"
          >Please enter a password longer than 8 characters</strong
        >
      </app-form-input>
      <app-form-input
        ngModel
        #confirmPassword="ngModel"
        name="confirmPassword"
        label="Confirm"
        type="password"
        [appSameStringValidator]="password.value"
      >
        <strong *ngIf="confirmPassword.touched && confirmPassword.invalid"
          >Please enter the same password</strong
        >
      </app-form-input>
    </div>
  </form>
  <button form="sign-up-form" type="submit" class="button button--primary">
    Register
  </button>
</section>
