@import 'src/assets/styles/colors.scss';
@import 'src/assets/styles/sizes.scss';
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: $header-height;
  padding: 1rem;
}
#logo {
  width: 3rem;


}
h1{
  z-index: 100000;
}
.hamburger {
  .hamburger-box {
    width: 30px;
    height: 20px;
  }
  z-index: 100000;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);


  .hamburger-inner::before {
    top: -6px;
  }
  .hamburger-inner::after {
    top: 6px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    transition: transform 0.15s ease, background-color 0.5s ease;
    width: 30px;
    height: 3px;
    background-color: $black;
    border-radius: 3px;
  }

  &.is-active {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $white;
    }
  }
}

nav {

  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: -100vw;
  background-color: $black;
  transition: right 0.5s ease-out;

  &.is-active {
    right: 0;
  }
  ul{
    height: 100%;

    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: $header-height 0 0 0;

    li{

      .main-nav--item{
        display: inline-block;
        padding: 1rem 2rem;
        width: 100vw;
        color: white;
        font-size: 2rem;
      }
    }
    li:last-child{
      margin-top: auto;
      padding: 1rem;
      justify-content: space-evenly;
      display: flex;

      .button{
        text-align: center;
        width: 45%;
        padding: 1rem 0;
      }
    }
  }
}
