@import 'src/assets/styles/colors.scss';
:host {
  padding: 3.2rem;

  span {
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 1.1rem;
  }
  a {
    margin: 1.6rem;
  }

  * {
    color: $white;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
