<section>
  <h1>Log In</h1>
  <form
    id="sign-up-form"
    #signUpForm="ngForm"
    (ngSubmit)="onSubmit(signUpForm)"
  >
    <app-form-input
      ngModel
      email
      required
      #email="ngModel"
      name="email"
      label="Email"
      type="email"
    >
      <strong *ngIf="email.touched && email.invalid"
        >Please enter a valid email</strong
      >
    </app-form-input>

    <app-form-input
      ngModel
      required
      #password="ngModel"
      name="password"
      label="Password"
      type="password"
    >
      <strong *ngIf="password.touched && password.invalid"
        >Please enter a password</strong
      >
    </app-form-input>
    <app-button type="submit" form="sign-up-form"> Log In </app-button>
  </form>
</section>
