@import '../../../assets/styles/sizes.scss';
@import '../../../assets/styles/colors.scss';
:host {
  display: flex;
  justify-content: center;
  align-content: center;
}
form {
  display: flex;
  flex-direction: column;
}
section {
  width: 100%;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: $main-height;
  padding: 3.2rem;
}
button {
  margin: 1rem;
}
h1 {
  margin: 0;
  text-align: center;
}
button {
  align-self: center;
}
app-form-input {
  margin: 3.2rem 0.8rem;
}

app-form-input:first-child {
  margin-bottom: 0;
}
