@import '../../../assets/styles/colors';
@import '../../../assets/styles/sizes';

:host {
  mix-blend-mode: difference;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: $header-height;
}
#logo {
  width: 3rem;
}
.title {
  z-index: 100000;
  margin: 0;
  color: $white;
  display: flex;
  align-items: center;
}
.title__text {
  margin-left: 2rem;
}
.hamburger {
  .hamburger-box {
    width: 30px;
    height: 20px;
  }
  z-index: 100000;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  .hamburger-inner::before {
    top: -6px;
  }
  .hamburger-inner::after {
    top: 6px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    transition: transform 0.5s ease, background-color 0.5s ease;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
  }

  &.is-active {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $white;
    }
  }
}
@media only screen and (min-width: 992px) {
  :host {
    mix-blend-mode: normal;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.3);
    background-color: $black;
  }
  header {
    justify-content: space-between;
    padding: 0 2rem;
  }
}
