<header>
  <h1 routerLink="/" class="title" aria-label="Travely">
    <img
      id="logo"
      src="../../../assets/images/logo200x200.png"
      alt="logo"
      aria-hidden="true"
    />
    <span aria-hidden="true" class="title__text large-devices--only"
      >Travely</span
    >
  </h1>
  <app-nav class="large-devices--only"></app-nav>
  <div
    class="hamburger hamburger--arrow-r medium-devices--down"
    appMenu
    (click)="onToggleMenu()"
    aria-label="Toggle main menu"
  >
    <span class="hamburger-box" aria-hidden="true">
      <span class="hamburger-inner"></span>
    </span>
  </div>
</header>
