section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.form__container {
  display: flex;
  align-items: center;
}
app-button {
  margin: 1rem 1rem;
}
h1 {
  text-align: center;
}
app-form-input {
  margin: 1.6rem 0.8rem;
  flex: 1;
}
