<section>
  <h1>New Trip</h1>
  <!--  <div class="form__container">-->
  <!--    <app-general-info-form-->
  <!--      [@stepper]="stepperState[0]"-->
  <!--      #generalInfoForm-->
  <!--    ></app-general-info-form>-->

  <!--    <form [@stepper]="stepperState[1]" #generalForm="ngForm"></form>-->
  <!--  </div>-->
  <app-tab-group>
    <app-tab tabIndexNumber>
      <app-general-info-form
        [@stepper]="stepperState[0]"
        #generalInfoForm
      ></app-general-info-form>
    </app-tab>
    <app-tab>
      <form [@stepper]="stepperState[1]" #generalForm="ngForm"></form>
    </app-tab>
  </app-tab-group>
  <div class="form--input-container">
    <app-button (click)="onBackClick()" theme="outlined">Back</app-button>
    <app-button (click)="onNextClick(generalInfoForm)">Next</app-button>
  </div>
</section>
