<nav appMenu>
  <ul>
    <li><a class="main-nav--item" (click)="onNavClick('/')">Home</a></li>
    <li>
      <a class="main-nav--item" (click)="onNavClick('/')">About</a>
    </li>
    <li>
      <a class="main-nav--item" (click)="onNavClick('/')">Support</a>
    </li>
    <li>
      <a class="button button--primary-outlined" (click)="onNavClick('/log-in')"
        >Log In</a
      >
      <a class="button button--primary" (click)="onNavClick('/sign-up')"
        >Create Account</a
      >
    </li>
  </ul>
</nav>
