@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/sizes';
:host {
}
nav {
  z-index: 2;
  position: fixed;
  top: 0;
  &.is-active {
    right: 0;
  }
  right: -100vw;
  transition: right 0.5s ease-out;
  height: 100vh;
  width: 100vw;

  background-color: $black;

  ul {
    height: 100%;

    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: $header-height 0 0 0;

    li {
      .main-nav--item {
        display: inline-block;
        padding: 1rem 2rem;
        width: 100%;
        color: white;
        font-size: 3.2rem;
        cursor: pointer;
      }
      &:last-child {
        margin-top: auto;
        padding: 1.6rem;
        justify-content: space-evenly;
        display: flex;
      }
    }
  }
}

@media only screen and (min-width: $laptop-breakpoint) {
  :host {
    height: 100%;
  }
  nav {
    position: static;
    height: 100%;
    width: unset;
    ul {
      flex-direction: row;
      padding: 0;
      li {
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        .main-nav--item {
          position: relative;
          font-size: 1.6rem;
          padding: 0.8rem 1.6rem;
          transition: color 0.2s ease-in;
          &:after {
            content: '';
            opacity: 0;
            transform: scaleX(0);
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            bottom: 0;
            background-color: $tertiary;
            transition: transform 0.3s ease-in, opacity 0.3s linear;
          }
          &:hover {
            &:after {
              transform: scaleX(1);
              transform-origin: left;
              opacity: 1;
            }
            color: $tertiary;
          }
        }
        &:last-child {
          margin: 0;
          padding: 0;

          app-button {
            font-size: 1.6rem;
            text-align: center;
            margin: 0 0.8rem;
            width: max-content;
          }
        }
      }
    }
  }
}
