<nav appMenu>
  <ul>
    <li class="user-info" *ngIf="!!user">
      Hi, {{ user?.firstName }} {{ user?.lastName }}
    </li>

    <li><a class="main-nav--item" (click)="onNavClick('/home')">Home</a></li>
    <li>
      <a class="main-nav--item" (click)="onNavClick('/')">About</a>
    </li>
    <li>
      <a class="main-nav--item" (click)="onNavClick('/')">Support</a>
    </li>
    <li *ngIf="!user; else elseIfUser">
      <app-button theme="outlined" type="button" (click)="onNavClick('/log-in')"
        >Log In</app-button
      >
      <app-button type="button" (click)="onNavClick('/sign-up')"
        >Create Account</app-button
      >
    </li>

    <ng-template #elseIfUser>
      <li>
        <app-button type="button" theme="outlined" (click)="onLogOut()"
          >Log Out</app-button
        >
      </li>
    </ng-template>
  </ul>
</nav>
