<nav appMenu>
  <ul>
    <li><a class="main-nav--item" (click)="onNavClick('/')">Home</a></li>
    <li>
      <a class="main-nav--item" (click)="onNavClick('/')">About</a>
    </li>
    <li>
      <a class="main-nav--item" (click)="onNavClick('/')">Support</a>
    </li>
    <li>
      <app-button theme="outlined" type="button" (click)="onNavClick('/log-in')"
        >Log In</app-button
      >
      <app-button type="button" (click)="onNavClick('/sign-up')"
        >Create Account</app-button
      >
    </li>
  </ul>
</nav>
