@import 'src/assets/styles/colors.scss';
@import 'src/assets/styles/sizes.scss';
:host {
  display: grid;
  grid-template-areas:
    'hd'
    'mn'
    'ft';

  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  grid-area: hd;
  position: fixed;
  top: 0;
  z-index: 100000;
}
main {
  grid-area: mn;
  padding-top: $header-height;
  min-height: 100vh;
}
footer {
  top: 0;
  position: sticky;
  grid-area: ft;
}
