@import 'src/assets/styles/colors.scss';
@import 'src/assets/styles/sizes.scss';
:host {
  display: grid;
  grid-template-areas:
    'hd'
    'mn'
    'ft';

  overflow-x: hidden;
  grid-auto-rows: minmax(min-content, max-content);
  height: 100vh;
}

app-header {
  grid-area: hd;
  position: fixed;
  top: 0;
  z-index: 10;
  height: auto;
}
main {
  grid-area: mn;
  padding-top: $header-height;
  background-color: $white;
  min-height: 100vh;
  box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.2);
}
app-footer {
  bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  grid-area: ft;
  z-index: -1;
  background-color: #6c63ff;
}
