<app-header (menuActivated)="isMenuActive = $event"></app-header>
<nav appMenu [isActive]="isMenuActive">
  <ul>
    <li><a class="main-nav--item" href="">Home</a></li>
    <li>
      <a class="main-nav--item" href="">About</a>
    </li>
    <li>
      <a class="main-nav--item" href="">Support</a>
    </li>
    <li>
      <a class="button button--primary-outlined" routerLink="/log-in">Log In</a>
      <a class="button button--primary" routerLink="/sign-up">Create Account</a>
    </li>
  </ul>
</nav>
<main><router-outlet></router-outlet></main>

<app-footer></app-footer>
