@import 'src/assets/styles/colors.scss';
@import 'src/assets/styles/sizes.scss';
:host {
  position: relative;
  display: grid;
  background-color: $white;
  grid-template-areas:
    'hd'
    'mn'
    'ft';

  overflow-x: hidden;
  grid-auto-rows: minmax(min-content, max-content);
  height: 100vh;
}

.spinner-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000000000000000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

app-header {
  grid-area: hd;
  position: sticky;
  top: 0;
  z-index: 10;
  height: auto;
}
main {
  grid-area: mn;
  background-color: $white;
  min-height: $main-height;
  box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
app-footer {
  bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  grid-area: ft;

  background-color: $primary;
}
