@import './src/assets/styles/sizes';
@import './src/assets/styles/colors';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:host {
  position: relative;
  display: flex;
  flex-direction: column;
}
app-landing-section {
  padding: 3.2rem 0;

  color: $white;

  &:nth-of-type(even) {
    background-color: $primary;
  }
  &:nth-of-type(odd) {
    background-color: $secondary;
  }
  &:first-of-type {
    color: $black;
    background-color: white;
  }
  &:last-of-type {
    color: $black;
    background-color: white;
  }
}
#hero--button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
