<app-landing-section
  [isHero]="true"
  src="assets/images/world.svg"
  title="Welcome to Travely."
  text="The app that will help you organize all your trips and travels"
>
  <div id="hero--button-container">
    <app-button type="button" routerLink="/sign-up">Get Started</app-button>
  </div>
</app-landing-section>
<app-landing-section
  src="assets/images/snow_games.svg"
  title="Watch out for falling snow!"
  text="Travely lets you keep track of the weather forecasts for your future trips, so you can prepare accordingly"
>
</app-landing-section>
<app-landing-section
  src="assets/images/travel_calendar.svg"
  title="Think ahead!"
  text="Keep track of your future trips, avoiding overlapping and helping you plan all your adventures"
>
</app-landing-section>
<app-landing-section
  src="assets/images/tasks.svg"
  title="Don't forget the eggs!"
  text="Plan ahead a bucket list for each one of your adventures so you don't leave anything out"
>
</app-landing-section>
<app-landing-section
  src="assets/images/places.svg"
  title="Sleep with ease!"
  text="Select from a list of available places on the area for the selected dates and read what other customers have to say"
>
</app-landing-section>
<app-landing-section
  src="assets/images/connected_world.svg"
  title="Keep traveling!"
  text="Travely will be the perfect planner of all your future adventures, so you can keep traveling with ease and confidence. Happy travels!"
>
</app-landing-section>
