@import 'src/assets/styles/sizes';
section {
  padding: 2rem;
}
.title-container {
  h1 {
    width: max-content;
  }
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: $laptop-breakpoint) {
    app-button {
      margin: 0 2rem;
    }
    flex-direction: row;
  }
}
