@import 'src/assets/styles/sizes';
:host {
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
}
.preview-image {
  max-height: 300px;
  max-width: 100%;
  align-self: center;
}
.img-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.info-line {
  span {
    font-weight: bold;
  }
  margin: 0.5rem 0;
}
.info--img-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 0 0;
}

@media only screen and (min-width: $laptop-breakpoint) {
  .preview-image {
    min-height: 300px;
  }
  .img-container {
    flex-direction: row;

    .info--img-container {
      margin: 0 0 0 1.5rem;
    }
  }
}
