@import 'assets/styles/colors.scss';
@import 'assets/styles/sizes.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
}

.button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: solid 2px $white;
  color: $white;
}

.button--primary {
  border-color: $primary;
  background-color: $primary;
}

.button--primary-outlined {
  border-color: $primary;
  color: $primary;
  font-weight: 600;
}

@media only screen and (max-width: $tablet-breakpoint) {
  .medium-devices--only {
    display: none !important;
  }
  .large-devices--only {
    display: none !important;
  }
  .medium-devices--up {
    display: none !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
  .small-devices--only {
    display: none !important;
  }
  .large-devices--only {
    display: none !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $laptop-breakpoint) {
  .small-devices--only {
    display: none !important;
  }
  .medium-devices--only {
    display: none !important;
  }
  .medium-devices--down {
    display: none !important;
  }
}
