<form #generalForm="ngForm">
  <app-form-input label="Trip Name" ngModel name="name"></app-form-input>
  <div class="form--input-container">
    <app-form-input
      required
      label="Country"
      [select]="countries"
      selectOptionLabel="countryName"
      ngModel
      name="country"
    ></app-form-input>
    <app-form-input required label="City" ngModel name="city"></app-form-input>
  </div>
  <div class="form--input-container">
    <app-form-input label="From" ngModel name="fromDate"></app-form-input>
    <app-form-input label="To" name="toDate"></app-form-input>
  </div>
</form>
